.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  margin-bottom: 0.5rem;
}

li {
  text-align: left;
  position: relative;
  border-radius: 10px;
}
